<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension-point id="modules"
      name="Guice binding modules"
      schema="schema/modules.exsd"/>

  <extension point="org.rustlang.oxide.modules">
    <module class="org.rustlang.oxide.common.CommonModule"/>
    <module class="org.rustlang.oxide.templates.RustTemplateModule"/>
    <module class="org.rustlang.oxide.wizards.RustWizardModule"/>
    <module class="org.rustlang.oxide.OxideModule"/>
  </extension>

  <extension point="org.eclipse.ui.perspectives">
    <perspective id="org.rustlang.oxide.perspective.RustPerspective"
        class="org.rustlang.oxide.common.GuiceExtensionFactory"
        name="Rust"
        icon="icons/rust-logo-16x16.png"/>
  </extension>

  <extension point="org.eclipse.ui.perspectiveExtensions">
    <perspectiveExtension
          targetID="org.rustlang.oxide.perspective.RustPerspective">
      <actionSet id="org.eclipse.debug.ui.launchActionSet"/>
      <newWizardShortcut id="org.rustlang.oxide.wizards.RustProjectWizard"/>
      <newWizardShortcut id="org.eclipse.ui.wizards.new.folder"/>
      <perspectiveShortcut id="org.eclipse.ui.wizards.new.file"/>
      <newWizardShortcut
          id="org.eclipse.ui.editors.wizards.UntitledTextFileWizard"/>
      <viewShortcut id="org.eclipse.search.ui.views.SearchView"/>
      <viewShortcut id="org.eclipse.ui.console.ConsoleView"/>
      <viewShortcut id="org.eclipse.ui.views.ContentOutline"/>
      <viewShortcut id="org.eclipse.ui.views.ProblemView"/>
      <viewShortcut id="org.eclipse.ui.views.ResourceNavigator"/>
      <viewShortcut id="org.eclipse.pde.runtime.LogView"/>
      <viewShortcut id="org.eclipse.ui.views.TaskList"/>
      <view id="org.eclipse.ui.views.ResourceNavigator"
          minimized="false"
          ratio="0.25"
          relationship="left"
          relative="org.eclipse.ui.editorss"/>
      <view id="org.eclipse.ui.views.ProblemView"
          minimized="false"
          ratio="0.75"
          relationship="bottom"
          relative="org.eclipse.ui.editorss"/>
      <view id="org.eclipse.ui.views.ContentOutline"
          minimized="false"
          ratio="0.75"
          relationship="right"
          relative="org.eclipse.ui.editorss"/>
    </perspectiveExtension>
  </extension>

   <extension point="org.eclipse.ui.editors">
     <editor id="org.rustlang.oxide.editor.RustEditor"   
         class="org.rustlang.oxide.common.GuiceExtensionFactory"
         contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
         default="true"
         extensions="rs,rc"
         icon="icons/rust-logo-16x16.png"
         name="Rust Editor">
       <contentTypeBinding contentTypeId="org.rustlang.oxide.rustfile"/>
    </editor>
  </extension>

  <extension point="org.eclipse.ui.editors.documentProviders">
    <provider id="org.rustlang.oxide.editor.RustDocumentProvider"
        class="org.rustlang.oxide.common.GuiceExtensionFactory"
        extensions=".rs,.rc"/>
  </extension>

  <extension point="org.eclipse.ui.newWizards">
    <category id="org.rustlang.eclipse.RustCategory"
        name="Rust Wizards"/>
    <wizard id="org.rustlang.oxide.wizards.RustProjectWizard"
        class="org.rustlang.oxide.common.GuiceExtensionFactory"
        canFinishEarly="false"
        category="org.rustlang.eclipse.RustCategory"
        finalPerspective="org.rustlang.oxide.perspective.RustPerspective"
        hasPages="true"
        icon="icons/rust-logo-16x16.png"
        name="Rust Project"
        preferredPerspectives="org.rustlang.oxide.perspective.RustPerspective"
        project="true">
      <description>Create a new Rust project</description>
    </wizard>
  </extension>

  <extension point="org.eclipse.ui.preferencePages">
    <page id="org.rustlang.oxide.preferences.RustPreferencePage"
        class="org.rustlang.oxide.common.GuiceExtensionFactory"
        name="Rust"/>
    <page id="org.rustlang.oxide.preferences.RustProjectDefaultsPreferencePage"
        class="org.rustlang.oxide.common.GuiceExtensionFactory"
        category="org.rustlang.oxide.preferences.RustPreferencePage"
        name="Project Defaults"/>
    <page id="org.rustlang.oxide.preferences.RustEditorPreferencePage"
        class="org.rustlang.oxide.common.GuiceExtensionFactory"
        category="org.rustlang.oxide.preferences.RustPreferencePage"
        name="Editor"/>
    <page id="org.rustlang.oxide.preferences.RustSyntaxColoringPreferencePage"
        class="org.rustlang.oxide.common.GuiceExtensionFactory"
        category="org.rustlang.oxide.preferences.RustEditorPreferencePage"
        name="Syntax Coloring"/>
  </extension>

  <extension point="org.eclipse.core.runtime.preferences">
    <initializer
        class="org.rustlang.oxide.common.GuiceExtensionFactory:org.rustlang.oxide.preferences.RustPreferencesInitializer"/>
  </extension>

  <extension point="org.eclipse.core.contenttype.contentTypes">
    <content-type id="org.rustlang.oxide.rustfile"
        file-extensions="rs,rc"
        name="Rust File"
        base-type="org.eclipse.core.runtime.text"/>
  </extension>

  <extension id="org.rustlang.oxide.RustBuilder"
      name="Rust Builder"
      point="org.eclipse.core.resources.builders">
    <builder hasNature="true">
      <run class="org.rustlang.oxide.builder.RustBuilder"/>
    </builder>
  </extension>

  <extension id="org.rustlang.oxide.RustNature"
      name="Rust Nature"
      point="org.eclipse.core.resources.natures">
    <runtime>
      <run class="org.rustlang.oxide.nature.RustNature"/>
    </runtime>
    <builder id="org.rustlang.oxide.RustBuilder"/> 
  </extension>

  <extension point="org.eclipse.debug.core.launchConfigurationTypes">
    <launchConfigurationType id="org.rustlang.oxide.launch.configuration"
        delegate="org.rustlang.oxide.launch.RustApplicationLauncher"
        delegateName="Rust Application Launcher"
        modes="run, debug"
        name="Rust Application"/>
   </extension>

  <extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
    <launchConfigurationTypeImage
        id="org.rustlang.oxide.launch.configurationTypeImage"
        configTypeID="org.rustlang.oxide.launch.configuration"
        icon="icons/rust-logo-16x16.png">
    </launchConfigurationTypeImage>
  </extension>

  <extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
    <launchConfigurationTabGroup
        id="org.rustlang.oxide.launch.RustLaunchConfigurationTabGroup"
        class="org.rustlang.oxide.common.GuiceExtensionFactory"
        type="org.rustlang.oxide.launch.configuration"/>
  </extension>

  <extension point="org.eclipse.debug.ui.launchShortcuts">
    <shortcut id="org.rustlang.oxide.launch.RustLaunchShortcut"
        class="org.rustlang.oxide.common.GuiceExtensionFactory"
        icon="icons/rust-logo-16x16.png"
        label="Rust Application"
        modes="run,debug">
      <description mode="run"
          description="Runs a Rust application"/>
      <configurationType id="org.rustlang.oxide.launch.configuration"/>
      <contextualLaunch>
        <enablement>
          <with variable="selection">
            <count value="1"/>
            <iterate>
              <or>
                <test property="org.eclipse.debug.ui.matchesPattern"
                    value="*.rs"/>
                <test property="org.eclipse.debug.ui.matchesPattern"
                    value="*.rc"/>
              </or>
            </iterate>
          </with>
        </enablement>
      </contextualLaunch>
    </shortcut>
  </extension>

  <extension point="org.eclipse.ui.commands">
    <command id="org.rustlang.oxide.runRustApplication"
        categoryId="org.eclipse.debug.ui.category.run"
        description="Run Rust Application"
        name="Run Rust Application"/>
  </extension>

  <extension point="org.eclipse.ui.editors.templates">
    <contextType id="org.rustlang.oxide.templates.RustTemplateContextType"
        class="org.rustlang.oxide.common.GuiceExtensionFactory"/>
    <template id="org.rustlang.oxide.templates.crate"
        contextTypeId="org.rustlang.oxide.templates.RustTemplateContextType"
        autoinsert="false"
        name="crate">
      <pattern>#[link(name = "${CrateName}",
       vers = "${Version}",
       uuid = "${Uuid}",
       url = "${Url}")];

#[author = "${Author}"];
#[license = "${License}"];
#[crate_type = "${Type}"];

#[doc(brief = "${Brief}",
      desc = "${Description}")];
</pattern>
    </template>
    <template id="org.rustlang.oxide.templates.gitignore"
        autoinsert="false"
        name="gitignore"
        contextTypeId="org.rustlang.oxide.templates.RustTemplateContextType">
      <pattern>${CrateName}
*.a
*.dSYM
*.dll
*.dylib
*.exe
*.o
*.so
*.swo
*.swp
*.tmp
*~</pattern>
    </template>

    <template id="org.rustlang.oxide.editor.templates.readme"
        autoinsert="false"
        name="readme"
        contextTypeId="org.rustlang.oxide.templates.RustTemplateContextType">
      <pattern># ${ProjectName} - ${Brief}

${Description}
</pattern>
    </template>

    <template id="org.rustlang.oxide.editor.templates.sourcefile"
        autoinsert="false"
        name="sourcefile"
        contextTypeId="org.rustlang.oxide.templates.RustTemplateContextType">
      <pattern>// TODO: write
</pattern>
    </template>

    <template id="org.rustlang.oxide.editor.templates.license"
        autoinsert="false"
        name="license"
        contextTypeId="org.rustlang.oxide.templates.RustTemplateContextType">
      <pattern>TODO: write
</pattern>
    </template>

    <template id="org.rustlang.oxide.editor.templates.license.mit"
        autoinsert="false"
        name="MIT License"
        contextTypeId="org.rustlang.oxide.templates.RustTemplateContextType">
      <pattern>Copyright (c) ${Year} ${Author}

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
</pattern>
    </template>
  </extension>

</plugin>
