<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="org.eclipse.ui.perspectives">
      <perspective
            class="org.rustlang.oxide.perspective.RustPerspective"
            icon="icons/rust-logo-16x16.png"
            id="org.rustlang.oxide.perspective.RustPerspective"
            name="Rust">
      </perspective>
   </extension>

   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.rustlang.oxide.perspective.RustPerspective">
         <actionSet
               id="org.eclipse.debug.ui.launchActionSet">
         </actionSet>
         <newWizardShortcut
               id="org.rustlang.oxide.wizards.RustProjectWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.eclipse.ui.wizards.new.folder">
         </newWizardShortcut>
         <perspectiveShortcut
               id="org.eclipse.ui.wizards.new.file">
         </perspectiveShortcut>
         <newWizardShortcut
               id="org.eclipse.ui.editors.wizards.UntitledTextFileWizard">
         </newWizardShortcut>
         <viewShortcut
               id="org.eclipse.search.ui.views.SearchView">
         </viewShortcut>
         <viewShortcut
               id="org.eclipse.ui.console.ConsoleView">
         </viewShortcut>
         <viewShortcut
               id="org.eclipse.ui.views.ContentOutline">
         </viewShortcut>
         <viewShortcut
               id="org.eclipse.ui.views.ProblemView">
         </viewShortcut>
         <viewShortcut
               id="org.eclipse.ui.views.ResourceNavigator">
         </viewShortcut>
         <viewShortcut
               id="org.eclipse.pde.runtime.LogView">
         </viewShortcut>
         <viewShortcut
               id="org.eclipse.ui.views.TaskList">
         </viewShortcut>
         <view
               id="org.eclipse.ui.views.ResourceNavigator"
               minimized="false"
               ratio="0.25"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               id="org.eclipse.ui.views.ProblemView"
               minimized="false"
               ratio="0.75"
               relationship="bottom"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               id="org.eclipse.ui.views.ContentOutline"
               minimized="false"
               ratio="0.75"
               relationship="right"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            class="org.rustlang.oxide.editor.RustEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            extensions="rs,rc"
            icon="icons/rust-logo-16x16.png"
            id="org.rustlang.oxide.editor.RustEditor"
            name="Rust Editor">
         <contentTypeBinding contentTypeId="org.rustlang.oxide.rustfile">
         </contentTypeBinding>
      </editor>
   </extension>

   <extension point="org.eclipse.core.runtime.preferences">
      <initializer class="org.rustlang.oxide.preferences.RustPreferencesInitializer"/>
   </extension>

   <extension point="org.eclipse.ui.editors.documentProviders">
      <provider
            class="org.rustlang.oxide.editor.RustDocumentProvider"
            id="org.rustlang.oxide.editor.RustDocumentProvider"
            extensions=".rs,.rc"/>
   </extension>

   <extension point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            file-extensions="rs,rc"
            name="Rust File"
            id="org.rustlang.oxide.rustfile"
            base-type="org.eclipse.core.runtime.text"/>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.rustlang.eclipse.RustCategory"
            name="Rust">
      </category>
      <wizard
            canFinishEarly="false"
            category="org.rustlang.eclipse.RustCategory"
            class="org.rustlang.oxide.wizards.RustProjectWizard"
            descriptionImage="icons/rust-logo-64x64.png"
            finalPerspective="org.rustlang.oxide.perspective.RustPerspective"
            hasPages="true"
            icon="icons/rust-logo-16x16.png"
            id="org.rustlang.oxide.wizards.RustProjectWizard"
            name="Rust Project"
            preferredPerspectives="org.rustlang.oxide.perspective.RustPerspective"
            project="true">
      </wizard>
   </extension>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.rustlang.oxide.preferences.RustPreferencePage"
            id="RustPreferencePage"
            name="Rust">
      </page>
      <page
            category="RustPreferencePage"
            class="org.rustlang.oxide.preferences.RustEditorPreferencePage"
            id="RustEditorPreferencePage"
            name="Editor">
      </page>
      <page
            category="RustEditorPreferencePage"
            class="org.rustlang.oxide.preferences.RustSyntaxColoringPreferencePage"
            id="RustSyntaxColoringPreferencePage"
            name="Syntax Coloring">
      </page>
   </extension>

   <extension
         id="RustBuilder"
         name="Rust Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run class="org.rustlang.oxide.builder.RustCompilerBuilder">
         </run>
      </builder>
   </extension>

   <extension
         id="RustNature"
         name="Rust Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="org.rustlang.oxide.nature.RustNature">
         </run>
      </runtime>
      <builder id="org.rustlang.oxide.RustBuilder"/> 
   </extension>

   <extension point="org.eclipse.ui.editors.templates">
      <contextType
            class="org.rustlang.oxide.templates.RustTemplateContextType"
            id="org.rustlang.oxide.templates.RustTemplateContextType">
      </contextType>
      <template
            id="org.rustlang.oxide.templates.crate"
            contextTypeId="org.rustlang.oxide.templates.RustTemplateContextType"
            autoinsert="false"
            name="crate">
      <pattern>#[link(name = "${project_name}",
       vers = "${version}",
       uuid = "${uuid}",
       url = "${url}")];

#[author = "${user}"];
#[license = "${license}"];
#[crate_type = "{crate_type}"];

#[doc(brief = "${brief}",
      desc = "${desc}")];
</pattern>
      </template>
      <template
            autoinsert="false"
            name="gitignore"
            contextTypeId="org.rustlang.oxide.templates.RustTemplateContextType"
            id="org.rustlang.oxide.templates.gitignore">
      <pattern>${project_name}
*.a
*.dSYM
*.dll
*.dylib
*.exe
*.o
*.so
*.swo
*.swp
*.tmp
*~</pattern>
      </template>

      <template
            autoinsert="false"
            name="readme"
            contextTypeId="org.rustlang.oxide.templates.RustTemplateContextType"
            id="org.rustlang.oxide.editor.templates.readme">
      <pattern># ${project_name} - ${brief}

${desc}
</pattern>
      </template>

      <template
            autoinsert="false"
            name="sourcefile"
            contextTypeId="org.rustlang.oxide.templates.RustTemplateContextType"
            id="org.rustlang.oxide.editor.templates.sourcefile">
      <pattern>// TODO: write
</pattern>
      </template>

      <template
            autoinsert="false"
            name="license"
            contextTypeId="org.rustlang.oxide.templates.RustTemplateContextType"
            id="org.rustlang.oxide.editor.templates.license">
      <pattern>TODO: write
</pattern>
      </template>

      <template
            autoinsert="false"
            name="MIT License"
            contextTypeId="org.rustlang.oxide.templates.RustTemplateContextType"
            id="org.rustlang.oxide.editor.templates.license.mit">
      <pattern>Copyright (c) ${year} ${author}

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
</pattern>
      </template>

   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            category="org.rustlang.oxide.rustLaunchConfiguration"
            delegate="org.eclipse.debug.core.model.LaunchConfigurationDelegate"
            id="org.rustlang.oxide.rustLaunchConfiguration"
            modes="run,debug"
            name="Rust Application">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchGroups">
      <launchGroup
            bannerImage="org.rustlang.oxide.launchGroup"
            category="org.rustlang.oxide.rustLaunchConfiguration"
            id="org.rustlang.oxide.launchGroup.run"
            image="icons/rust-logo-16x16.png"
            label="Run"
            mode="run"
            title="Select or confgure an application to run">
      </launchGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            category="org.rustlang.oxide.rustLaunchConfiguration"
            class="org.rustlang.oxide.launch.LaunchShortcut"
            icon="icons/rust-logo-16x16.png"
            id="org.rustlang.oxide.launchShortcut"
            label="Rust Application"
            modes="run,debug">
         <configurationType
               id="org.rustlang.oxide.rustLaunchConfiguration"></configurationType>
         <description
               description="Runs a Rust application"
               mode="run">
         </description>
         <contextualLaunch>
            <enablement>
               <instanceof
                     value="java.lang.Object">
               </instanceof></enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.rustlang.oxide.rustLaunchConfiguration"
            icon="icons/rust-logo-16x16.png"
            id="org.rustlang.oxide.launchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.rustlang.oxide.launch.LaunchConfigurationTabGroup"
            id="org.rustlang.oxide.launchConfigurationTabGroup"
            type="org.rustlang.oxide.rustLaunchConfiguration">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.debug.ui.category.run"
            description="Run Rust Application"
            id="org.rustlang.oxide.runRustApplication"
            name="Run Rust Application">
      </command>
   </extension>
</plugin>
